<ng-container *ngIf="artworks.length > 0">
    <div style="width:100%" class="bg-light mt-2 mb-2">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-dark float-right"
            (click)="hideBuildHistory = !hideBuildHistory"
            [attr.aria-expanded]="!hideBuildHistory"
            aria-controls="collapseExample"><i class="fa fa-info"></i> Build history</button>
        </div>
    </div>
    <div [ngbCollapse]="hideBuildHistory" class="collapse navbar-collapse mt-2">
        <ng-container *ngIf="artworks.length > 1">
            <select class="form-select bg-light" aria-label="Default select example" [(ngModel)]="artworkSelection">
                <ng-container *ngFor="let artwork of artworks; let j = index">
                    <option [ngValue]="j">{{artwork.name}}</option>
                </ng-container>
            </select>
        </ng-container>
        <ng-container *ngIf="artworks[artworkSelection].buildHistory.length">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Year</th>
                        <th scope="col">Builder</th>
                        <th scope="col">Tasks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of artworks[artworkSelection].buildHistory;">
                        <td>{{item.year}}</td>
                        <td>{{item.builder}}</td>
                        <td>
                            <ng-container *ngFor="let task of splitTextOnSeparator(item.tasks);">
                                {{task}}<br/>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
        <ng-container *ngIf="!artworks[artworkSelection].buildHistory.length">
            <p class="lh-sm">No build history available for this organ</p>
        </ng-container>
    </div>
    </div>
    <div style="width:100%" class="bg-light mb-2">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-dark float-right"
            (click)="hideDispositionHistory = !hideDispositionHistory"
            [attr.aria-expanded]="!hideDispositionHistory"
            aria-controls="collapseExample"><i class="fa fa-info"></i> Disposition</button>
        </div>
    </div>
    <div [ngbCollapse]="hideDispositionHistory" class="collapse navbar-collapse mt-2">
        <ng-container *ngIf="artworks.length == 1 && artworks[0].dispositions.length > 1"> 
            <div *ngFor="let disposition of artworks[0].dispositions.slice(0,2); let i = index" class="col-6" style="display: inline-block; vertical-align: top;">
                <ng-container *ngIf="artworks[0].dispositions.length == 1">
                    <p class="lh-sm mb-0 pb-0">{{artworks[0].dispositions[0].parthoodname}}</p>
                </ng-container>
                <ng-container *ngIf="artworks[0].dispositions.length > 1">
                    <select class="form-select bg-light" aria-label="Default select example" [(ngModel)]="dispositionSelection[i]">
                        <ng-container *ngFor="let d of artworks[0].dispositions; let j = index">
                            <option [ngValue]="j">{{d.parthoodname}}</option>
                        </ng-container>
                    </select>
                </ng-container>
                <ng-container *ngIf="artworks[0].dispositions[dispositionSelection[i]].divisions">
                    <table class="table table-sm pb-0 mb-0">
                            <ng-container *ngFor="let division of artworks[0].dispositions[dispositionSelection[i]].divisions">
                                <thead>
                                    <tr>
                                        <th scope="col" colspan="2">
                                            {{division.divisionname}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let stop of division.stops">
                                        <td>{{stop.stopname}}</td>
                                        <td>{{stop.stopspecification}}</td>
                                    </tr>
                                </tbody>
                            </ng-container>
                    </table>
                </ng-container>
                <ng-container *ngIf="artworks[0].dispositions.length">
                    <button popoverTitle="Copied to clipboard" ngbPopover="You can paste it into a spreadsheet" ngxClipboard [cbContent]='copyDivisionTable(artworks[0].name, artworks[0].dispositions[dispositionSelection[i]].parthoodname, artworks[0].dispositions[dispositionSelection[i]].divisions)' class="btn btn-light m-0"><i class="fa fa-clone" aria-hidden="true"></i> Copy table</button>
                </ng-container>
            </div>
        </ng-container>
        <ng-container *ngIf="!(artworks.length == 1 && artworks[0].dispositions.length > 1)">
            <div *ngFor="let artwork of artworks.slice(0,2); let i = index" class="col-6" style="display: inline-block; vertical-align: top;">
                <ng-container *ngIf="artworks.length > 1">
                    <select class="form-select bg-light" aria-label="Default select example" [(ngModel)]="artworkSelectionList[i].artwork" (change)="artworkSelectionList[i].disposition=0">
                        <ng-container *ngFor="let artwork of artworks; let j = index">
                            <option [ngValue]="j">{{artwork.name}}</option>
                        </ng-container>
                    </select>
                </ng-container>
                <ng-container *ngIf="artworks[artworkSelectionList[i].artwork].dispositions.length == 1">
                    <p class="lh-sm">{{artworks[artworkSelectionList[i].artwork].dispositions[0].parthoodname}}</p>
                </ng-container>
                <ng-container *ngIf="artworks[artworkSelectionList[i].artwork].dispositions.length > 1">
                    <select class="form-select bg-light" aria-label="Default select example" [(ngModel)]="artworkSelectionList[i].disposition">
                        <ng-container *ngFor="let disposition of artworks[artworkSelectionList[i].artwork].dispositions; let k = index">
                            <option [ngValue]="k">{{disposition.parthoodname}}</option>
                        </ng-container>
                    </select>
                </ng-container>
                
                <ng-container *ngIf="artworks[artworkSelectionList[i].artwork].dispositions.length">
                    <table class="table table-sm pb-0 mb-0">
                    <ng-container *ngFor="let division of artworks[artworkSelectionList[i].artwork].dispositions[artworkSelectionList[i].disposition].divisions">
                    
                        <thead>
                            <tr>
                                <th scope="col" colspan="2">
                                    {{division.divisionname}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let stop of division.stops">
                                <td>{{stop.stopname}}</td>
                                <td>{{stop.stopspecification}}</td>
                            </tr>
                        </tbody>

                    </ng-container>

                    </table>
                    <button popoverTitle="Copied to clipboard" ngbPopover="You can paste it into a spreadsheet" ngxClipboard [cbContent]='copyDivisionTable(artworks[artworkSelectionList[i].artwork].name, artworks[artworkSelectionList[i].artwork].dispositions[artworkSelectionList[i].disposition].parthoodname, artworks[artworkSelectionList[i].artwork].dispositions[artworkSelectionList[i].disposition].divisions)' class="btn btn-light m-0"><i class="fa fa-clone" aria-hidden="true"></i> Copy table</button>
                </ng-container>
                
                <ng-container *ngIf="!artworks[artworkSelectionList[i].artwork].dispositions.length">
                    <p class="lh-sm">No disposition information available for this organ</p>
                </ng-container>
            </div>
        </ng-container>
    </div>
    </div>
</ng-container>


